.footer{

    background-color:#17A3BC;
    text-align: center;
    color: #fff;
    font: bold;
    height: 25px;
   
}


.navbar{

    background-color:#17A3BC;
    color: #fff;
    text-decoration-color: #fff;

}
.navbar-default .navbar-brand {
    color: #fff;
}



